body {
    background: red;
}

p {
    color: yellow;
    text-decoration: underline;
}

div {
    display: flex;
    flex: row;
    border: 1px solid black;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}